
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* .first{
    display: flex;
} */

main section{
    margin-bottom: 120px;
}

.first-img{
    width: 1320px;
    height: 600px;
    margin: 50px 275px;
}
.overlay{
    position: absolute;
    transform: translate(630px,-450px);
    text-align: center;
}

.first-img-head{
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
}

.first-img-description{
    font-size: 72px;
    color: #ffffff;
    width: 630px;
}

.first-img-head p,
.first-img-description p {
  margin: 0;
  padding: 0;
}

/* 2nd image */

.second-info{
    text-align: center;
}

.second-head p{
    margin: 0;
    padding: 0;
}

.p1{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
}
.p2{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.p3{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}
.second-img{
    margin-top: 48px;
}

/* third */
.third-img-1{
    margin: 50px 275px;
}
.third-img-2{
    position: absolute;
    transform: translate(1130px,-580px);
    
}
.third-info-title{
    font-size: 64px;
    font-weight: bold;
    width: 642px;
    color: #FFFFFF;
}
.third-info-description{
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    color: #FFFFFF;
}
.third-info button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    background-color:transparent;
}
.third-info-title, .third-info-description{
    padding: 0;
    margin-bottom: 24px;
}
.third-info{
    position: absolute;
    transform: translate(380px,-600px);
}

/* cards */
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.card-section{
    width: 1320px;
    height: 1163px;
    margin: 50px 275px;
}
.card-section h3{
    font-size: 24px;
    font-weight: 600;
}
.card-section h1{
    font-size: 48px;
    font-weight: bold;
}
.card-section p{
    font-size: 20px;
    font-weight: 400;
}
.card-section h3,h1,p{
    margin-bottom: 22px;
    padding: 0;
}

/* Newsletter */
.message{
    width: 1320px;
    height: 616px;
    background-color: bisque;
    margin: 50px 275px;
    border-radius: 16px;

}
.mail-box{
    padding: 80px 212px 48px;
    text-align: center;
}
.mail-box h1{
    font-size: 48px;
    font-weight: 600;
}
.mail-box p{
    font-size: 20px;
    font-weight: 400;
}
.subscribe{
    display: flex;
    justify-content: center;
}
input{
    width: 448px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    border: none;
    font-size: 18px;
    padding-left: 30px;
}
.subscribe-button{
    font-size: 20px;
    font-weight: 600;
    width: 210px;
    height: 72px;
    border-radius: 0 50px 50px 0;
    border: none;
    color: #FFFFFF;
    background-color: #FF0000;
}

/* Footer */

footer{
    width: 100%;
    height: 600px;
    background-color: #070211;
    text-align: center;
}
footer hr{
    width: 1320px;
}
.footer-section-1{
    display: flex;
    gap: 560px;
    justify-content: center;
    color: #FFFFFF;
}
.address-class{
    font-size: 24px;
    padding: 120px 0 50px 140px;
    width: 375px;
    height: 80px;
}
.contact-class{
    font-size: 24px;
    width: 251px;
    height: 80px;
    padding: 120px 275px 50px 0;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 48px 0 48px 0;
}
.copyright{
    display: flex;
    justify-content: center;
    gap: 880px;
    color: #FFFFFF;
}
.copyright a{
    text-decoration: none;
    color: #FFFFFF;
}